# Ambiente virtual
.venv/

# Credenciais
.env

# Dados
data/*
!data/.gitkeep

*.zip
*.csv

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db